.authentification__container {
    height: 100%;
    background-color: white;

    .login__section {
        width: 100%;
        margin: 10px;
        max-width: 300px;

        h1 {
            font-size: 40px;
            padding-bottom: 40px;
        }

        .bottom_message_login {
            left: 0px;
        }

        .bottom_message_register {
            right: 0px;
        }

        .bottom_message_login,
        .bottom_message_register {
            justify-content: center;
            position: absolute;
            bottom: 60px;
            display: flex;
            margin-right: auto;
            margin-left: auto;
            width: 100%;
            gap: 10px;
        }
    }
    .authentification-second__box {
        height: 100%;
    }
}

@media (min-width: 833px) {
    .bottom_message_register,
    .bottom_message_login {
        width: 50% !important;
    }

    .authentification-second__box {
        width: 100%;
        background: linear-gradient(
            25deg,
            #cc989157 0%,
            #829aef5d 50%,
            #7db8f455 100%
        );
    }
}
