.body-list__box {
    .add-meal__box {
        background-color: white;
        height: 130px;
        gap: 30px;
        h3 {
            padding-left: 40px;
        }
        button {
            width: 100px;
        }
    }

    .meal-list__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
        margin: 30px;
        background-color: white;
        border-radius: 20px;

        .name-meal__box {
            display: grid;
            gap: 10px;

            span {
                font-size: 15px;
                font-weight: lighter;
            }
        }
    }
}

@media (min-width: 833px) {
    .header-switch-day__box {
        padding-left: 300px;
        margin-top: 0px;
        border-top: none;
    }

    .body-list__box {
        padding-left: 300px;
        margin-top: 0px;
    }
}
