$dark_blue: rgba(39, 46, 53, 1);
$grey: rgba(85, 95, 109, 1);
$blue: rgba(48, 98, 212, 1);

.color--dark_blue {
    color: $dark_blue;
}

.color--grey {
    color: $grey;
}

.color--blue {
    color: $blue;
}
